/*** Colours ***/
$cgs-light-blue: #66a8d8;
$cgs-dark-blue: #005892;

/*** Display sizing & thresholds ***/
$navbar-height: 70px;
$show-custom-menu-width: 1350px;
$show-cgs-connect-width: 1000px;
$show-expanded-search-width: 750px;
$expand-right-bg-width: 500px;

/*** Fonts ***/
$font-family-sans-serif: "Open Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;