/* Icon Buttons - CGS Connect Home */
.icon-button-grid {
    font-size: 11px;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    line-height: 20px;
    list-style: outside none none !important;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 0 3px 0!important;
    text-align: center;
    &> li {
        margin: 0 -1px -1px 0 !important;
        float: left;
        font-size: inherit !important;
        font-weight: inherit !important;
        letter-spacing: inherit !important;
        line-height: inherit !important;
        min-width: 12.5%;
    }
    a, a:focus, a:visited {
        border: 0 none;
        display: block;
        outline: 0 none;
        text-decoration: none;
        transition:         all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition:    all .2s ease-in-out;
        -o-transition:      all .2s ease-in-out;
        &:hover {
            border: 0 none;
            background-color: #78b8e0; 
            outline: 0 none;
            text-decoration: none;
            .btnicon {
                color: #fefefe;
            }
            .button-text {
                color: #fefefe;
            }
        }
        .btnicon {
            color: #78b8e0;
            display: block;
            font-size: 40px;
            padding: 25px 0 0;
        }
        .button-text {
            border: 0px none;
            color: #232323;
            display: block;
            font-weight: 600;
            letter-spacing: 0.5px;
            overflow: hidden;
            padding: 15px 7px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

