body {
    background-color: #f2f2f2;
    font-family: $font-family-base;
}

#page {
    background-color: #fff;
    padding: 15px;
    @media (min-width: 1199.98px) {
        padding: 35px;
    }
}
h1, h2, h3, h4, h5 {
	font-weight: 600;
	line-height: 1.5;
}
.btn-small {
	font-size: small;
}