.block_course_list {
	/*.content {
		li {
		    display: inline-block;
		    margin-right: 20px;
		    a {
		    	min-width: 200px;
			    padding: 10px;
			    background-color: #e9ecef;
		    	text-align: center;
		    	display: block;
		    	i {
		    		display: none;
		    	}
		    }

		}
	}*/
}