body {
    background-color: #f2f2f2;
    font-family: $font-family-base;
}

#page {
    background-color: #fff;
    padding: 15px;
    @media (min-width: 1199.98px) {
        padding: 35px;
    }
}
h1, h2, h3, h4, h5 {
	font-weight: 600;
	line-height: 1.5;
}
.btn-small {
	font-size: small;
}
$breakpoint-browser-height: 519px;

@media(max-height: $breakpoint-browser-height){

   .options{
     height: 330px;
    }
    .alloptions{
      height: 330px;
      border-bottom: 1px solid #bbb;
    }

    .instruction{
        height: 330px;
        border-bottom: 1px solid #bbb;

    }
}

$breakpoint-browser-width:575px;
@media(max-width: $breakpoint-browser-width ){
   .options,  .alloptions, .instruction{
            height:auto;
            width:auto;
    }
}

.is-uat nav.fixed-top:after {
    content: "TEST SERVER";
    position: absolute;
    left: 0;
    background-color: deeppink;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 10px;
    font-size: 30px;
    color: #000;
    opacity: 0.8;
    font-weight: 900;
    z-index: -1;
    text-align: center;
}
.is-uat nav.fixed-top > * {
    z-index: 10;
}
.is-uat .btn-toggle-drawer[aria-expanded="true"]:before {
    background-color: transparent;
}