.pagelayout-frontpage {
    header#page-header {
        height: 15px;
    }
    #page-header .card {
        border: 0 none !important;
    }
    .context-header-settings-menu {
        position: absolute;
        right: 0;
        top: -27px;
        margin: 0;
    }
    #region-main {
        border: 0;
        padding: 0;
        background-color: transparent;
        margin-top: -1px;
        .buttons {
            margin-bottom: 1.5rem!important;
        }
      
    }
    @media all and (min-width:1199.98px) { // This is where the boost theme sets a breakpoint for columns.
        #region-main {
            padding: 0 25px 0 0;
        }
        .context-header-settings-menu {
            top: -38px;
        }
    }
}