#page-search-index {
	#page-header {
		display: none;
	}
	#region-main-box {
	    padding: 0 35px;
	}
	#region-main {
	    padding: 2rem;
	}
	.search-results {
		margin-top: 35px;
		.result-context-info {
		    margin-top: 15px;
		}
		.btn-small {
			padding: 3px 7px;
		}
		.icon-wrap {
		    display: block;
		    margin-left: -53px;
		    position: absolute;
		    z-index: 100;
		    background-color: #fff;
		    border-radius: 50%;
		    padding: 9px;
		    margin-top: -4px;
		    box-shadow: 1px 3px 7px 1px rgba(0,0,0,0.4);
		}
		.icon {
			width: 22px;
			height: 22px;
		    margin: 0;
    		display: block;
		}
	}
	.mform {
		padding: 20px;
    	background-color: #f0f2f4;
    	border-radius: 7px;
	}
}